<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioSolitario" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Juego/Solitario" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicioSolitario"
                contract="ServicioSolitario.IServicioSolitario" name="BasicHttpBinding_IServicioSolitario" />
        </client>
    </system.serviceModel>
</configuration>